.navbar {
    padding: 2em 2em;
    display: flex;
    width: 100%;
    height: max-content;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--color-primary);
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    gap: 6em;
    justify-self: baseline;
    transition: all .2;
}

.navbar-list>li {
    list-style-type: none;
    width: 100px;
    height: 30px;
    text-align: center;
}

.navbar-list a {
    text-decoration: none;
    color: var(--color-secondary);
}

.navbar-toggler {
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    position: relative;
    left: 30px;
    transition: all 0.3s ease-in-out;
  }
  
  .logo:hover {
    color: #fff; /* change color on hover */
    transform: scale(1.1); /* add a scaling animation on hover */
  }



@media screen and (max-width: 400px) {
    .navbar {
        padding: 2em 1em;
    }
}

@media screen and (max-width: 800px) {

    .navbar-list.hide {
        display: none;
    }

    .navbar-list.show {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    span.icon{
        width: 30px;
        height: 30px;
    }

    .navbar:has(>.navbar-list.show) {
        background: #1e1e1e;
    }

    .navbar-list.show+button .icon {
        color: aliceblue;
    }

    .navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
    }

    .logo.hide {
        display: none;
    }
}