/* timeline */

.time-line {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.time-line .heading {
    margin-bottom: 10px;
}

.heading {
    color: var(--color-secondary);
}

.sticky-card {
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 75px;
    position: relative;
    background: #f00;
}

.sticky-card:nth-child(even) {
    margin-left: auto;
}

.sticky-card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.sticky-card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.sticky-card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.sticky-card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.sticky-card:nth-child(2),
.sticky-card:nth-child(2):before {
    background: #ff4f4f;
}

.sticky-card:nth-child(3),
.sticky-card:nth-child(3):before {
    background: #ffb84f;
}

.sticky-card:nth-child(4),
.sticky-card:nth-child(4):before {
    background: #3dca5c;
}

.sticky-card:nth-child(5),
.sticky-card:nth-child(5):before {
    background: #565252;
}

.sticky-card:nth-child(6),
.sticky-card:nth-child(6):before {
    background: #4fa0ff;
}

.sticky-card:nth-child(even) .card-body:before {
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed var(--color-secondary);
    z-index: -1;
}

.card-title {
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .time-line {
        width: 80%;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
    }

    .sticky-card {
        width: 80%;
        padding: 30px;
        border-radius: 10px;
        /* color: #fff; */
        display: block;
        position: relative;
        background: #f00;
        margin: 0px 0;
    }

    .sticky-card:nth-child(even):before {
        content: '';
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .sticky-card:nth-child(odd):before {
        content: '';
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translateY(-0%);
        width: 0;
        height: 0;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .sticky-card.card {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    .card-title {
        text-align: left;
        font-size: 1.5em;
        color: #fff;
        text-transform: capitalize;
        font-weight: 300;
        margin-bottom: 10px;
    }
}