/* Timeline Container */
.storys {
    background: var(--primary-color);
    margin: 20px auto;
    width: 80%;
}

.storys .outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card container */
.story {
    position: relative;
    max-width: 70%;
}

@media(max-width: 600px) {
    .story {
        max-width: 100%;
    }

    .storys {
        width: 100%;
    }
}

/* setting padding based on even or odd */
.story:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.story:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.story::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--color-secondary);
}

/* Setting the border of top, bottom, left */
.story:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
    .story:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.story:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.story:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.story:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.story:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: var(--color-grey-5);
    color: var(--color-grey-3);
    border-radius: 10px;
    padding: 10px;
    gap: 2em;
}

.info p {
    letter-spacing: 1px;
    line-height: 20px;
}

/* Title of the card */
.title {
    color: var(--color-white);
    position: relative;
    letter-spacing: .2px;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid rgb(136, 255, 0);
}

/* text right if the card is even  */
.story:nth-child(even)>.info>.title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.story:nth-child(odd)>.info>.title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.story:nth-child(even)>.info>.title::before {
    right: -45px;
}